.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: normal;
}

.fw-700 {
    font-weight: 700;
}

.text-gray-3 {
    color: #333;
}

.text-gray-4 {
    color: #444;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.bg-purple {
    background-color: #3d437a;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.no-decoration {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}

.column {
    flex-direction: column;
}
