@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: normal;
}

.fw-700 {
  font-weight: 700;
}

.text-gray-3 {
  color: #333;
}

.text-gray-4 {
  color: #444;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.bg-purple {
  background-color: #3d437a;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.no-decoration {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

header {
  padding: 1.25rem 0;
}
header .container {
  position: relative;
}
header .container .logo {
  position: relative;
  z-index: 2;
}
header .container .logo a {
  font-size: 1.5625rem;
}
header .container .menu {
  display: none;
  position: absolute;
  right: 0.625rem;
  z-index: 2;
  cursor: pointer;
}
@media (max-width: 48rem) {
  header .container .menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  header .container .menu span {
    background-color: #fff;
    height: 2px;
    width: 1.875rem;
    transition: all 0.3s ease;
  }
  header .container .menu.active span {
    opacity: 0;
  }
  header .container .menu.active span:first-of-type, header .container .menu.active span:last-of-type {
    opacity: 1;
  }
  header .container .menu.active span:first-of-type {
    transform: translateY(0.5rem) rotate(45deg);
  }
  header .container .menu.active span:last-of-type {
    transform: translateY(-0.4063rem) rotate(-45deg);
  }
}
header .container nav ul {
  list-style-type: none;
  gap: 1.875rem;
}
header .container nav ul li a {
  font-size: 0.9375rem;
}
@media (max-width: 48rem) {
  header .container nav {
    position: absolute;
    top: -31.25rem;
    left: 0;
    width: 100%;
    background-color: #3d437a;
    z-index: 1;
    padding: 3.75rem 0;
    transition: all 0.3s ease;
  }
  header .container nav.active {
    top: 0;
  }
  header .container nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

footer {
  background-color: #2f3664;
  padding: 1.875rem 0;
}

.banner-principal {
  background: url("../images/banner.jpg") center center/cover no-repeat;
  width: 100%;
  height: 37.5rem;
  position: relative;
  z-index: 0;
}
.banner-principal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.6);
  z-index: 1;
}
.banner-principal .container {
  height: 100%;
  position: relative;
  z-index: 2;
}
.banner-principal .container form {
  max-width: 31.25rem;
  width: 100%;
}
.banner-principal .container form .title {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
}
.banner-principal .container form input[type=email] {
  width: 100%;
  height: 4.125rem;
  font-size: 1.375rem;
  padding-left: 0.5rem;
  outline: none;
  border: 0;
  margin-bottom: 0.625rem;
}
.banner-principal .container form input[type=submit] {
  cursor: pointer;
  width: 100%;
  height: 4.125rem;
  font-size: 1.375rem;
  padding-left: 0.5rem;
  outline: none;
  border: 0;
  transition: all 0.8s ease;
}
.banner-principal .container form input[type=submit]:hover {
  background-color: #00c59e;
  color: #000;
}

.descricao-autor {
  padding: 3.75rem 0;
}
.descricao-autor .container {
  gap: 3.75rem;
}
@media (max-width: 61.9375rem) {
  .descricao-autor .container {
    flex-direction: column;
  }
}
.descricao-autor .container .wrapper {
  min-width: 31.25rem;
}
@media (max-width: 48rem) {
  .descricao-autor .container .wrapper {
    min-width: unset;
  }
}
.descricao-autor .container .wrapper .title {
  font-size: 1.75rem;
}
@media (max-width: 61.9375rem) {
  .descricao-autor .container .wrapper .title {
    text-align: center;
  }
}
.descricao-autor .container .wrapper p {
  font-size: 1rem;
  margin-top: 0.625rem;
}
@media (max-width: 61.9375rem) {
  .descricao-autor .container .wrapper p {
    text-align: center;
  }
}
.descricao-autor .container img {
  border-radius: 1.25rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 31.25rem;
}

.especialidades {
  padding: 3.75rem 0;
}
.especialidades .container .title {
  text-align: center;
  margin-bottom: 1.875rem;
}
.especialidades .container .wrapper {
  grid-template-columns: repeat(3, minmax(15.625rem, 23.8125rem));
  grid-gap: 2.5rem;
}
@media (max-width: 53.75rem) {
  .especialidades .container .wrapper {
    grid-template-columns: 1fr;
  }
}
.especialidades .container .wrapper .box h3 {
  margin: 0.9375rem 0;
}

.extras {
  padding: 3.75rem 0;
}
.extras .container {
  gap: 3.75rem;
}
@media (max-width: 53.75rem) {
  .extras .container {
    flex-direction: column;
  }
}
.extras .container .wrapper-depoimentos {
  width: 50%;
}
@media (max-width: 53.75rem) {
  .extras .container .wrapper-depoimentos {
    width: 100%;
  }
}
.extras .container .wrapper-depoimentos .title {
  margin-bottom: 1.25rem;
}
.extras .container .wrapper-depoimentos .depoimento p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}
.extras .container .wrapper-depoimentos .depoimento:first-of-type {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 0.0625rem solid #fff;
}
.extras .container .wrapper-servicos {
  width: 50%;
}
@media (max-width: 53.75rem) {
  .extras .container .wrapper-servicos {
    width: 100%;
  }
}
.extras .container .wrapper-servicos .title {
  margin-bottom: 1.25rem;
}
.extras .container .wrapper-servicos ul {
  list-style-position: inside;
}
.extras .container .wrapper-servicos ul li:not(:last-of-type) {
  margin-bottom: 1.25rem;
}

.erro-404 {
  background-color: #ccc;
  padding: 3.75rem 0;
  height: calc(100vh - 9.75rem);
}
.erro-404 .container h2 {
  margin-bottom: 2.5rem;
  text-align: center;
}
@media (max-width: 48rem) {
  .erro-404 .container h2 {
    text-align: start;
  }
  .erro-404 .container h2 br {
    display: none;
  }
}
.erro-404 .container a {
  padding: 0.3125rem 0.9375rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
  display: block;
  margin: 0 auto;
  max-width: 11.25rem;
}
.erro-404 .container a:hover {
  background-color: #00c59e;
  color: #000;
}

.contato {
  padding: 3.75rem 0 0;
}
.contato .container form {
  margin-bottom: 2.5rem;
}
.contato .container form input,
.contato .container form textarea {
  display: block;
  padding: 0.625rem 0.5rem;
  max-width: 31.25rem;
  width: 100%;
  margin: 1.25rem auto;
  outline: none;
  border-radius: 5px;
  border: 0.0625rem solid #2f3664;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 48rem) {
  .contato .container form input,
  .contato .container form textarea {
    font-size: 0.875rem;
  }
}
.contato .container form input:first-of-type {
  margin-top: 0;
}
.contato .container form input[type=submit] {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.contato .container form input[type=submit]:hover {
  background-color: #00c59e;
}
.contato .container form textarea {
  resize: none;
  height: 6.25rem;
}
.contato iframe {
  width: 100%;
  height: 37.5rem;
}
@media (max-width: 48rem) {
  .contato iframe {
    height: 25rem;
  }
}/*# sourceMappingURL=main.css.map */