.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2%;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: normal;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.text-gray-3 {
    color: #333;
}

.text-gray-4 {
    color: #444;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-center {
    text-align: center;
}

.bg-purple {
    background-color: #3d437a;
}

.bg-red {
    background-color: #f00;
}

.bg-yellow {
    background-color: #fcb039;
}

.bg-orange {
    background-color: #ec684d;
}

.bg-green {
    background-color: #00935a;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.no-decoration {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}

.column {
    flex-direction: column;
}
