@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.error-painel {
    height: 100%;

    svg {
        max-width: 12.5rem;
        animation: pulse 2s infinite;

        @media (max-width: 48rem) {
            max-width: 6.25rem;
        }
    }

    h2 {
        margin-bottom: 1.25rem;

        @media (max-width: 48rem) {
            font-size: 1.25rem;
        }
    }

    a {
        background-color: #2a1e47;
        padding: 0.625rem 1.25rem;
        border-radius: 0.3125rem;

        svg {
            max-width: 1rem;
        }
    }
}
