.banner-principal {
    background: url("../images/banner.jpg") center center / cover no-repeat;
    width: 100%;
    height: 37.5rem;
    position: relative;
    z-index: 0;

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #333, $alpha: 0.6);
        z-index: 1;
    }

    .container {
        height: 100%;
        position: relative;
        z-index: 2;

        form {
            max-width: 31.25rem;
            width: 100%;

            .title {
                font-size: 1.875rem;
                margin-bottom: 1.25rem;
            }

            input {
                &[type="email"] {
                    width: 100%;
                    height: 4.125rem;
                    font-size: 1.375rem;
                    padding-left: 0.5rem;
                    outline: none;
                    border: 0;
                    margin-bottom: 0.625rem;
                }

                &[type="submit"] {
                    cursor: pointer;
                    width: 100%;
                    height: 4.125rem;
                    font-size: 1.375rem;
                    padding-left: 0.5rem;
                    outline: none;
                    border: 0;
                    transition: all 0.8s ease;

                    &:hover {
                        background-color: #00c59e;
                        color: #000;
                    }
                }
            }
        }
    }
}

.descricao-autor {
    padding: 3.75rem 0;

    .container {
        gap: 3.75rem;

        @media (max-width: 61.9375rem) {
            flex-direction: column;
        }

        .wrapper {
            min-width: 31.25rem;

            @media (max-width: 48rem) {
                min-width: unset;
            }

            .title {
                font-size: 1.75rem;

                @media (max-width: 61.9375rem) {
                    text-align: center;
                }
            }

            p {
                font-size: 1rem;
                margin-top: 0.625rem;

                @media (max-width: 61.9375rem) {
                    text-align: center;
                }
            }
        }

        img {
            border-radius: 1.25rem;
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 31.25rem;
        }
    }
}

.especialidades {
    padding: 3.75rem 0;

    .container {
        .title {
            text-align: center;
            margin-bottom: 1.875rem;
        }

        .wrapper {
            grid-template-columns: repeat(3, minmax(15.625rem, 23.8125rem));
            grid-gap: 2.5rem;

            @media (max-width: 53.75rem) {
                grid-template-columns: 1fr;
            }

            .box {
                h3 {
                    margin: 0.9375rem 0;
                }
            }
        }
    }
}

.extras {
    padding: 3.75rem 0;

    .container {
        gap: 3.75rem;

        @media (max-width: 53.75rem) {
            flex-direction: column;
        }

        .wrapper-depoimentos {
            width: 50%;

            @media (max-width: 53.75rem) {
                width: 100%;
            }

            .title {
                margin-bottom: 1.25rem;
            }

            .depoimento {
                p {
                    font-size: 1rem;
                    margin-bottom: 1.25rem;
                }

                &:first-of-type {
                    padding-bottom: 1.25rem;
                    margin-bottom: 1.25rem;
                    border-bottom: 0.0625rem solid #fff;
                }
            }
        }

        .wrapper-servicos {
            width: 50%;

            @media (max-width: 53.75rem) {
                width: 100%;
            }

            .title {
                margin-bottom: 1.25rem;
            }

            ul {
                list-style-position: inside;

                li {
                    &:not(:last-of-type) {
                        margin-bottom: 1.25rem;
                    }
                }
            }
        }
    }
}
